{% load static tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% if page == "login" %} Login - Chastain, Inc {% else %} Register - Chastain, Inc {% endif %}</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon" />
        {% tailwind_css %}
        <style>
            input,
            textarea,
            select {
                width: 100%;
                border: 1px solid #f8b501 !important;
                padding: 0.5rem !important;
                border-radius: 0.5rem !important;
                transition: all 0.5ms ease-in;
                outline: none;
                color: black !important;
                box-shadow: none;
                transition: all 0.5ms ease-in-out;
                resize: none;
            }

            input:focus {
                border: 1px solid #111827 !important;
                outline: none !important;
                box-shadow: none !important;
            }
        </style>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body class="bg-gray-900 overflow-x-hidden min-h-screen scroll-smooth">
        {% include 'navbar.html'%} {% if page == 'login' %}
        <div class="w-screen h-max mt-8 px-8 flex flex-col gap-8 shadow-sm mx-auto rounded-md py-12 text-white">
            {% if messages %} {% for message in messages %} {% if message.tags == "success" %}
            <div class="bg-green-300 text-sm w-full rounded-md p-4">
                <p class="text-green-900 text-center">{{ message }}</p>
            </div>
            {% endif %} {% endfor %} {% endif %}
            <h2 class="text-2xl text-center font-bold">Login</h2>
            <form action="" method="POST" class="flex flex-col gap-4 justify-evenly md:w-max md:mx-auto">
                {% csrf_token %}
                <div class="">
                    <label for="email" class="block opacity-80 mb-2">Email / Username / NIK</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="">
                    <label for="password" class="block opacity-80 mb-2">Password</label>
                    <input type="password" name="password" id="password" />
                    <a href="{%url 'forgot'%}" class="text-primary font-bold hover:text-secondary transition">Forgot?</a>
                </div>
                <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
                {% for message in messages %} {% if message.tags == "error" %}
                <div class="bg-red-300/[0.4] text-sm w-full rounded-md p-2 h-max mt-2">
                    <p class="text-red-500">{{ message }}</p>
                </div>
                {% endif %} {% endfor %}
                <div class="group w-full md:mx-auto text-black">
                    <button class="btn w-full flex items-center justify-center gap-2 group" type="submit">Login</button>
                </div>
                <div class="text-center">
                    <p>Don't have an account ? <a href="{%url 'register'%}" class="text-primary font-semibold hover:text-secondary transition-all">Register</a></p>
                </div>
            </form>
        </div>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        {% else %}
        <div class="w-screen h-max mt-8 px-8 flex flex-col gap-8 shadow-sm mx-auto rounded-md py-12 text-white">
            <h2 class="text-2xl text-center font-bold">Register</h2>
            <form action="" method="POST" class="flex flex-col gap-4 justify-evenly md:w-max md:mx-auto">
                {% csrf_token %} {{ form.non_field_errors }} {% for field in form %}
                <div class="">
                    <label for="{{field.id_for_label}}" class="block opacity-80 mb-2">{{field.label}}</label>
                    {{field}} {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}
                        <div class="bg-red-300/[0.4] text-sm w-full rounded-md p-2 h-max mt-2">
                            <p class="text-red-500">{{ error }}</p>
                        </div>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="group w-full md:mx-auto">
                    <button class="btn w-full flex items-center justify-center gap-2 group text-black" type="submit">Register</button>
                </div>
                <div class="text-center">
                    <p>Already have an account ? <a href="{%url 'login'%}" class="text-primary font-semibold hover:text-secondary transition-all">Login</a></p>
                </div>
            </form>
        </div>
        {% endif %}
    </body>
</html>
