{% extends 'main.html' %} {% load static %} {% block title %} Daftar Antrian - Chastain, Inc {% endblock %} {% block content %}
<div class="min-h-screen w-full py-8 px-8">
    {% if messages %} {% for message in messages %}
    <div class="bg-red-300 text-sm w-full rounded-md p-4 mb-8">
        <p class="text-red-900 text-center">{{ message }}</p>
    </div>
    {% endfor %} {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="w-full grid sm:grid-cols-2 lg:grid-cols-4 gap-8 justify-center items-center">
            {% for dok in dokter %}
            <div class="w-60 bg-white rounded-md p-4 mx-auto group card transition duration-500 hover:bg-primary hover:border-white border-2 border-primary" data-value="{{dok.id}}">
                <img src="{{dok.avatar.url}}" alt="Avatar" class="" />
                <h3 class="text-black text-center font-bold text-md mt-4">dr.{{dok.nama}}</h3>
            </div>
            {% endfor %}
        </div>
        <input type="hidden" name="selected-dokter" id="selected-dokter" value="" />
        <div class="flex flex-col gap-8 items-center justify-center mt-8">
            <div class="group w-1/2">
                <button class="btn w-full">Daftar</button>
            </div>
            <div class="group w-1/2">
                <a href="{% url 'nomor_antrian' %}">
                    <div class="btn w-full text-center">Cancel</div>
                </a>
            </div>
        </div>
    </form>
</div>
<script src="{% static 'js/queue.js'%}"></script>
{% endblock %}
