{% load static tailwind_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Dokter - Chastain, Inc</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon" />
        {% tailwind_css %}
    </head>
    <body class="bg-gray-900 overflow-x-hidden min-h-screen scroll-smooth">
        {% include 'navbar.html'%}
        <div class="w-full flex flex-col items-center justify-center h-screen text-center gap-12 px-4">
            <h2 class="text-3xl font-bold text-white">Are you sure want to delete</h2>
            <h2 class="text-3xl font-bold text-white">{{dokter.nama}} - {{dokter}}</h2>
            <div class="flex gap-4 items-center">
                <div class="group">
                    <a href="{% url 'input_dokter' %}" class="btn text-black">Cancel</a>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="group">
                        <button type="submit" class="btn text-black bg-red-500">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
