{% extends 'main.html' %} {% load static %} {% block title %} Daftar Dokter - Chastain, Inc {% endblock %} {% block content %}
<section class="px-16 py-8 min-h-screen grid md:grid-cols-2 lg:grid-cols-3 place-items-center">
    <div class="transition duration-[400ms] hover:border-primary border border-transparent w-60 h-max rounded-md cursor-pointer p-4 bg-white">
        <img class="w-full h-64" src="{% static 'images/Bob_Malone.png' %}" alt="doc1" />
        <div class="w-full text-center text-black">
            <h2 class="text-[24px] font-bold mb-[-5px]">Angie Roberto</h2>
            <h2 class="text-[16px]">Dentistry</h2>
        </div>
    </div>
    <div class="transition duration-[400ms] hover:border-primary border border-transparent w-60 h-max rounded-md cursor-pointer p-4">
        <img class="w-full h-64" src="{% static 'images/Angie_Robertie.png' %}" alt="doc1" />
        <div class="w-full text-center">
            <h2 class="text-[24px] font-bold mb-[-5px]">Angie Roberto</h2>
            <h2 class="text-[16px]">Dentistry</h2>
        </div>
    </div>
</section>
{% endblock %}
